<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    android:versionName="0"
    android:versionCode="01"
    package="com.freeme.freemelite.salemachine">

    <uses-permission android:name="android.permission.INTERNET" /> <!-- 网络权限 -->
    <uses-permission android:name="android.permission.VIBRATE" /> <!-- 震动权限 -->
    <uses-permission android:name="android.permission.CAMERA" /> <!-- 摄像头权限 -->
    <uses-feature android:name="android.hardware.camera.autofocus" /> <!-- 自动聚焦权限 -->

    <application
        android:name=".SaleMachineApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true">

        <!--activity start-->

        <activity
            android:name=".ui.activities.FeatureActivity"
            android:launchMode="singleTask"
            android:screenOrientation="landscape"
            android:theme="@style/FeatureActivityTheme">

        </activity>

        <activity
            android:name=".ui.activities.MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="landscape"
            android:theme="@style/MainActivityTheme">

            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.DEFAULT" />

                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.HOME" />
            </intent-filter>
        </activity>

        <!--activity end-->
    </application>
</manifest>
